.explore-button {
  box-shadow: 8px 8px 0px black;
  transition: box-shadow 0.6s, background 0.6s;
}


.explore-button:hover{
    box-shadow: none;
    background: black;
}

#curve, #curve1, #curve2{
  fill: transparent;
}

